.dockerignore  
node_modules   
/prisma/@generated
npm-debug.log  
Dockerfile      
.git            
.gitignore      
.npmrc          
.env-*          
.gitlab-*       
.github         
*.md            